:root {
  --color-primary: #00649e;
  --color-white: #fff;
  --spacing: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-primary);
  width: 800px;
  aspect-ratio: 4 / 3;
  color: var(--color-white);
}

.what-was-said {
  font-size: 4rem;
}

.who-said-it:not(:empty) {
  border-top: 1px solid var(--color-white);
  padding-top: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}

form {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-primary);
  padding: var(--spacing);
}

input,
button {
  padding: 0.5rem;
  font: inherit
}